body {
  font-family: monospace;
  margin: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100vh;
  -webkit-user-select: none;
  user-select: none;
}
#info {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  margin: 1em;
  z-index: 10;
  display: block;
  line-height: 2em;
  text-align: center;
}
#info * {
  color: #fff;
}
.title {
  background-color: rgba(40, 40, 40, 0.4);
  padding: 0.4em 0.6em;
  border-radius: 0.1em;
}
.links {
  background-color: rgba(40, 40, 40, 0.6);
  padding: 0.4em 0.6em;
  border-radius: 0.1em;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
}
